*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.loader{
    width: 300px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(500px) rotateX(70deg);
}
.loader span{
    position: absolute;
    border: 5px solid white;
    box-shadow: 0 5px 0 #ccc,inset 5px 0 #ccc;
    display: block;
    border-radius: 50%;
    animation: move 2s linear infinite;
}
@keyframes move {
    0%,100%{
        transform: translateZ(-100px);
    }
    50%{
        transform: translateZ(100px);
    }
}
.loader span:nth-child(1){
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    animation-delay: .9s;
}

.loader span:nth-child(2){
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    animation-delay: .8s;
}
.loader span:nth-child(3){
    top: 40px;
    left: 40px;
    bottom: 40px;
    right: 40px;
    animation-delay: .7s;
}
.loader span:nth-child(4){
    top: 60px;
    left: 60px;
    bottom: 60px;
    right: 60px;
    animation-delay: .6s;
}
.loader span:nth-child(5){
    top: 80px;
    left: 80px;
    bottom: 80px;
    right: 80px;
    animation-delay: .5s;
}
.loader span:nth-child(6){
    top: 100px;
    left: 100px;
    bottom: 100px;
    right: 100px;
    animation-delay: .4s;
}
.loader span:nth-child(7){
    top: 120px;
    left: 120px;
    bottom: 120px;
    right: 120px;
    animation-delay: .3s;
}
.loader span:nth-child(8){
    top: 140px;
    left: 140px;
    bottom: 140px;
    right: 140px;
    animation-delay: .2s;
}
.loader span:nth-child(9){
    top: 160px;
    left: 160px;
    bottom: 160px;
    right: 160px;
    animation-delay: .1s;
}
